Repository nanyawei/wechat-wepack: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

.lintstagedrc:

{
  "linters": {
    "{config,src,utils}/**/*.js": [
      "eslint --fix",
      "git add"
    ],
    "src/**/*.scss": [
      "stylelint --fix",
      "git add"
    ]
  }
}

test
  LICENSE
  config/webpack/webpack.base.config.js
  src/LICENSE
  src/README.md
  src/app.js
  src/app.json
  src/config/config.js
  src/config/env-config.js
  src/utils/http-server.js
  src/utils/login.js
  src/utils/request.js
  src/utils/to-promise.js
Due: eslint --fix

test
  .commitlintrc.js
  package-lock.json
  package.json
Due: none

test
  package-lock.json
Due: none

依赖包
  package-lock.json
Due: none

yarn包
  yarn.lock
Due: none

更新依赖包
  yarn.lock
Due: none

readme文档说明
  README.md
Due: none

添加页面测试
  src/app.json
  src/components/footer/footer.js
  src/components/footer/footer.json
  src/components/footer/footer.scss
  src/components/footer/footer.wxml
  src/pages/authorize/authorize.scss
  src/pages/user/user.js
  src/pages/user/user.json
  src/pages/user/user.scss
  src/pages/user/user.wxml
Due: eslint --fix, stylelint --fix

调整页面
  .eslintignore
  .gitignore
  .stylelintignore
  README.md
  config/webpack/webpack.base.config.js
  config/webpack/webpack.dev.config.js
  config/webpack/webpack.prod.config.js
  jsconfig.json
  src/app.json
  src/components/footer/footer.js
  src/components/footer/footer.json
  src/components/footer/footer.scss
  src/components/footer/footer.wxml
  src/config/env-config.js
  src/pages/user/user.js
  src/pages/user/user.json
  src/pages/user/user.scss
  src/pages/user/user.wxml
  yarn.lock
Due: eslint --fix, stylelint --fix

配置
  package-lock.json
  package.json
Due: none
